on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  emulator_setup:
    runs-on: macos-13
    steps:
      - run: "echo yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install 'system-images;android-29;default;x86_64'"
        name: 'Download image'


      - run: "echo yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses"
        name: "Accept licenses"

      - run: 'echo "no" |  $ANDROID_HOME/cmdline-tools/latest/bin/avdmanager create avd -n test -k "system-images;android-29;default;x86_64" --device pixel --force'
        name: 'Create that AVD'

      - run: "$ANDROID_HOME/emulator/emulator -avd test -no-snapshot & $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do sleep 1; done; input keyevent 82'"
        name: 'Launch it'
