on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  emulator_setup:
    runs-on: macOS-15
    steps:
      - run: "echo yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install 'system-images;android-29;default;arm64-v8a'"
        name: 'Download image'


      - run: "echo yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses"
        name: "Accept licenses"

      - run: 'echo "no" |  $ANDROID_HOME/cmdline-tools/latest/bin/avdmanager create avd -n test -k "system-images;android-29;default;x86_64" --device pixel --force'
        name: 'Create that AVD'
